/* 版心 */
.wrapper{
    margin: 0 auto;
    width: 1240px;
}

/* 快捷导航 */
.shortcut{
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper{
    display: flex;
    justify-content: flex-end;
    height: 52px;
}

.shortcut .wrapper ul{
    display: flex;
    line-height: 52px;
}

.shortcut li a{
    padding: 0 15px;
    border-right: 1px solid #333;
    font-size: 14px;
    color: #fff;
}

.shortcut li:last-child a{
    border-right: none;
}

.shortcut li .iconfont{
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut li .login{
    color: #5EB69C;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
}

.header .logo{
    margin-right: 20px;
    width: 200px;
    height: 88px;
}

.header .logo a{
    /* a是行内标签，设置宽高不生效，先转为块级 */
    display: block;
    width: 200px;
    height: 88px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

/* 导航 */
.header .nav{
    margin-top: 33px;
    margin-right: 28px;
}

.header .nav ul{
    display: flex;
}

.header .nav li{
    margin-right: 24px;
}

.header .nav li a:hover{
    padding-bottom: 10px;
    border-bottom: 2px #5EB69C solid;
}
