/* 首页css样式 */


/* 设置版心居中 */
.wrapper{
    margin: 0 auto;
    width: 1200px;
}

a{
    color: #333;
     text-decoration: none;
}

body{
    background-color: #f3f5f7;
}

/* 头部区域 */
.header{
    
    height: 100px;
    background-color: #ffff;
}

.header .wrapper{
    display: flex;
    padding-top: 29px;;
}

.logo a{
    /* 转换显示模式，不然宽高不生效 */
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);

    /* 隐藏文字 */
    font-size: 0;
}

.nav{
    margin-left: 102px;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    align-content: 20px;
    
}

.nav ul li {
    list-style: none;
    margin-right: 24px;
}

.nav ul li a{
    display: block;
    padding: 6px 20px;
    line-height: 27px;
}

/* 并集选择器，设置鼠标悬停 首页设为默认加下横线*/
.nav ul li .active,
.nav ul li :hover{
    border-bottom: 3px solid rgb(5, 198, 241);
}