/* 版心 */
.wrapper{
    margin: 0 auto;
    width: 1240px;
}

/* 快捷导航 */
.shortcut{
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper{
    display: flex;
    justify-content: flex-end;
    height: 52px;
}

.shortcut .wrapper ul{
    display: flex;
    line-height: 52px;
}

.shortcut li a{
    padding: 0 15px;
    border-right: 1px solid #333;
    font-size: 14px;
    color: #fff;
}

.shortcut li:last-child a{
    border-right: none;
}

.shortcut li .iconfont{
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut li .login{
    color: #5EB69C;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
}

.header .logo{
    margin-right: 20px;
    width: 200px;
    height: 88px;
}

.header .logo a{
    /* a是行内标签，设置宽高不生效，先转为块级 */
    display: block;
    width: 200px;
    height: 88px;
    background-image: url(../images/logo.png);
    font-size: 0;
}




/* 服务 */
.footer .service{
    padding: 60px 0;
    height: 178px;
    border-bottom: 1px solid #E8E8E8;
}

.footer .service ul{
    display: flex;
    justify-content: space-evenly;
}

.footer .service ul li{
    display: flex;
    width: 190h;
    height: 58px;
}

.footer .service ul li h5{
    margin-right: 20px;
    width: 58px;
    height: 58px;
    background-image: url(../images/sprite.png);
   
}

.footer .service ul li:nth-child(2) h5{
    background-position: 0 -58px;
}

.footer .service ul li:nth-child(3) h5{
    background-position: 0 -116px;
}

.footer .service ul li:nth-child(4) h5{
    background-position: 0 -174px;
}

.service li p{
    font-size: 28px;
    line-height: 58px;
}

/* 帮助中心 */
.footer .help{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    height: 300px;
}

.footer .help .left{
    display: flex;
}

.footer .help .left dl{
    margin-right: 84px;
}

.footer .help .left dt{
    margin-bottom: 30px;
    font-size: 18px;
}

.footer .help .left dd{
    margin-bottom: 10px;
}

.footer .help .left a{
    font-size: 16px;
    color: #969696;
}

.footer .help .left dl:last-child{
    margin-right: 0;
}

.footer .help .left .iconfont{
    color:#5EB69C;
}


.footer .help .rigth ul{
    display: flex;
}

.footer .help .rigth li{
    margin-right:55px;;
}

.footer .help .rigth .pic{
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}

.footer .help .rigth p{
    color: #969696;
    text-align: center;
}

/* 版权 */
.footer .copyright{
    width: 611px;
    height: 60px;
}

.footer .copyright .line1{
    display: flex;
    justify-content: space-between;
    /* 让 | 居中 */
    align-items: center;
    color: #969696;
}

.footer .copyright .line1 p{
    margin: 5px 0;
}

.footer .copyright .line2 p{
    display:flex;
    color: #969696;
    justify-content: center;
    text-align: center;

}

.footer .copyright a{
    
   color: #969696;
}